@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-header: "Manrope", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  #root {
     @apply h-screen w-screen;
  }
  body {
    @apply overflow-hidden h-screen w-screen;
  }
  main {
    @apply flex h-full w-full max-h-screen max-w-screen overflow-hidden bg-background font-poppins;
  }

  section {
    @apply flex-1;
  }

  li {
    @apply capitalize text-primary flex gap-2 items-center px-2 py-3 hover:bg-white rounded-lg cursor-pointer;
  }

  label {
    @apply text-gray-500 text-sm;
  }

  span {
    @apply text-primary;
  }

  th, td, tr {
    @apply text-primary;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-header text-primary;
  }

  h1 {
    @apply text-4xl font-extrabold leading-tight mb-4;
  }

  h2 {
    @apply text-3xl font-bold leading-tight mb-3;
  }

  h3 {
    @apply text-2xl font-semibold leading-snug mb-2;
  }

  h4 {
    @apply text-xl font-medium leading-snug mb-2;
  }

  h5 {
    @apply text-lg font-medium leading-normal mb-1;
  }

  h6 {
    @apply text-base font-medium leading-normal mb-1 uppercase tracking-wider;
  }

}

@layer components {
  .sidebar {
    @apply bg-sidebar-primary p-5 max-w-[13%] w-full shadow-xl text-primary border-r border-r-sidebar-border;
  }

  .sidebar-text {
    @apply text-lg;
  }

  .main-container {
    @apply p-10 overflow-y-hidden flex flex-col gap-5;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --sidebar-primary: #E9ECEF;
  --sidebar-border: #EBEBEB;
  --background: #F8F9FA;
  --primary: #343A40;
  --muted: #ADB5BD;
  --radius: 0.625rem;
  --foreground: #E9ECEF;
  --card: #FFFFFF;
  --card-foreground: #25282B;
  --popover: #FFFFFF;
  --popover-foreground: #25282B;
  --primary-foreground: #FAFAFA;
  --secondary: #F7F7F7;
  --secondary-foreground: #343A40;
  --muted-foreground: #8C8C8C;
  --accent: #F7F7F7;
  --accent-foreground: #343A40;
  --destructive: #D35B44;
  --border: #EBEBEB;
  --input: #EBEBEB;
  --ring: #B3B3B3;
  --chart-1: #DA6E48;
  --chart-2: #212529;
  --chart-3: #4C63C9;
  --chart-4: #E5CC49;
  --chart-5: #E8C45D;
  --sidebar: #FAFAFA;
  --sidebar-foreground: #25282B;
  --sidebar-primary-foreground: #FAFAFA;
  --sidebar-accent: #F7F7F7;
  --sidebar-accent-foreground: #343A40;
  --sidebar-ring: #B3B3B3;
}

.dark {
  --background: #25282B;
  --foreground: #FAFAFA;
  --card: #343A40;
  --card-foreground: #FAFAFA;
  --popover: #343A40;
  --popover-foreground: #FAFAFA;
  --primary: #EBEBEB;
  --primary-foreground: #343A40;
  --secondary: #444444;
  --secondary-foreground: #FAFAFA;
  --muted: #444444;
  --muted-foreground: #B3B3B3;
  --accent: #444444;
  --accent-foreground: #FAFAFA;
  --destructive: #E5735B;
  /* --border: #FFFFFF1A;
  --input: #FFFFFF26;  */
  --ring: #8C8C8C;
  --chart-1: #7E74FF;
  --chart-2: #A9D67A;
  --chart-3: #E8C45D;
  --chart-4: #9F6BE3;
  --chart-5: #CFA063;
  --sidebar: #343A40;
  --sidebar-foreground: #FAFAFA;
  --sidebar-primary: #7E74FF;
  --sidebar-primary-foreground: #FAFAFA;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #FAFAFA;
  /* --sidebar-border: #FFFFFF1A; */
  --sidebar-ring: #8C8C8C;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}